.navbar-brand {
    font-size: xx-large;
    color: white;
}

.navbar-brand:hover {
    color: grey;
}

body {
    background-color:rgb(14, 17, 24);
    color: white;
}

.navbar-custom {
    background-color: rgb(39, 39, 49);
    color: white;
}

